* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* código de figuras */

header {
    min-width: 900px;
    height: 70px;
    background-color: hsl(180deg 100% 40% / 76%);
    display: grid;
    grid-template-columns: 150px 400px;
}
header img{
    width: 60px;
    object-fit: contain;
    margin: 4.5px 0 0 50px;
}

.img-circle--top,
.img-triangulo--top,
.img-square--top {
    display: grid;
    grid-template-columns: 50px 100px;
    gap: 13px;
    font-size: 2.0rem;
    font-weight: bold;
    color: white;
    align-items: center;
}

header p {
    vertical-align: middle;
    font-size: 4.0rem;
    font-weight: bold;
    color: white;
}


.figure-articles {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    place-content: center;
    gap: 50px;
    justify-items: center;
}

.article3,
.article2,
.article1 {
    margin-top: 50px;
    border-radius: 10px;
    height: auto;
    
}

.form-circle,
.form-triangulo,
.formCuadrado {
    padding: 10px;
    display: grid;
    place-content: center;
    width: 350px;
    background-color:hsl(180deg 100% 40% / 76%);
    border-radius: 10px;
}

.square-draw {
    background-color: hsl(180deg 100% 40% / 76%);
    width: 50px;
    height: 50px;
    border: 5px solid white;
}

.Triangle-draw {
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-bottom: 50px solid white;
    border-left: 25px solid transparent;

}

.Triangle-draw-white {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 40px solid hsl(180deg 100% 40% / 76%);
    border-left: 20px solid transparent;
    position: absolute;
    top: 136px;
    left: 447px;
}

.circle-draw {
    background-color: hsl(180deg 100% 40% / 76%);
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-radius: 50%;
}

.button-circle,
.buttontriangulo,
.buttoncuadrado {
    margin-bottom: 15px;
}

.borderresult {
    border-bottom: 2px solid white;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-circle button,
.form-triangulo button,
.formCuadrado button {
    background-color: hsl(180deg 100% 40% / 76%);
    width: 150px;
    height: 26px;
    border-radius: 3px;
    border: 2px solid rgb(243, 247, 246);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    
}

.form-circle label,
.form-triangulo label,
.formCuadrado label {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    line-height: 2.0rem;
}

.form-circle input,
.form-triangulo input,
.formCuadrado input {
    height: 27px;
    border-radius: 20px;
    border: 2px solid  hsl(180deg 100% 40% / 76%);
    text-align: center;
}


